<!DOCTYPE html>
<html xmlns:shiro="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>班级活动管理</title>
    <link rel="stylesheet" href="../css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">Class Manager</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <!--此处存放管理员权限入口-->
            <li class="layui-nav-item" ><a href="/stars" target="iframeMain">学生积分管理</a></li>
            <li class="layui-nav-item" ><a href="/publish" target="iframeMain">公告管理</a></li>
            <li class="layui-nav-item" ><a href="">奖学金管理</a></li>
            <li class="layui-nav-item" ><a href="/rank_control" target="iframeMain">用户及权限管理</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img" id="photo">
                    <span id="name">张三</span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="/userInfo" target="iframeMain">修改个人资料</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="/logout">退出系统</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item"><a href="/main" target="iframeMain">首页</a></li>
                <li class="layui-nav-item"><a href="/notice" target="iframeMain">公告列表</a></li>
                <li class="layui-nav-item"><a href="/mystar" target="iframeMain">我的积分</a></li>
                <li class="layui-nav-item"><a href="/comment" target="iframeMain">留言板</a></li>
                <li class="layui-nav-item"><a href="/commentDel" target="iframeMain">我的留言</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <iframe src="/main" frameborder="0" class="layadmin-iframe" name="iframeMain"
                style="width: 100%; height:100%;"></iframe>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © jexing
    </div>
</div>
<script src="../layui.js"></script>
<script>
    let element;
    let layer;
    let user;
    let $;
    layui.use(['element','layer','jquery'], function(){
        element = layui.element;
        layer= layui.layer;
        $ = layui.jquery;
        $.ajax({
            method:'get',
            url:'user/getById/'+window.sessionStorage.getItem("uid"),
            success:function (data){
                user=data.data.user;
                $("#name").text(user.name);
                if (user.gender===1){
                    $("#photo").attr("src",'img/man.jpg')
                }else{
                    $("#photo").attr("src",'img/woman.jpg')
                }
            }
        })
    });
</script>
</body>
</html>
