<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../css/layui.css" media="all">

</head>
<body>
    <div class="layui-container" style="margin-top: 20px;margin-left: 10px">
        <div class="layui-row" id="comments">
        </div>
    </div>
    <div class="bottom">
        <input type="text" placeholder="回复" class="layui-input" id="reply_win" style="border-radius: 10px;border: #9F9F9F solid 1px">
    </div>
</body>
<script src="../../layui.js" charset="utf-8"></script>
<script>
    let $;
    let childCache;
    let layer;
    function child(d) {
        let comments= $("#comments");
        childCache = d;
        if (childCache.length===0){
            comments.append('<h1>这里还没有评论</h1>');
            return ;
        }
        for (let i = 0; i < childCache.length; i++) {
            let a = childCache[i].fromUser.gender===1?'img/man.jpg':'img/woman.jpg';
            let b = childCache[i].toUser.gender===1?'img/man.jpg':'img/woman.jpg';
            let temp= $("<div></div>").append('<img src="'+a+'" class="layui-nav-img">'+childCache[i].fromUser.name+'回复@ '+'<img src="'+b+'" class="layui-nav-img">'+childCache[i].toUser.name+":           "+childCache[i].createTime);
            let btn = $("<button class='layui-btn layui-btn-sm layui-btn-primary' onclick='addCC("+childCache[i].cid+","+childCache[i].fromId+")'>回复</button>");
            let content = $("<div></div>").append(childCache[i].content);
            comments.append(temp).append('<br>');
            comments.append(content).append('<br>').append(btn).append('<hr>');
        }
    }
    layui.use(['jquery','layer'], function(){
        $ = layui.jquery;
        layer = layui.layer;
    });
    function addCC(cid,uid){
        let reply =$("#reply_win").val();
        let userid = window.sessionStorage.getItem("uid");
        if (!reply) {
            layer.msg('请输入回复', {icon: 2});
            return;
        }
        if (!userid){
            layer.msg('登录失效', {icon: 2});
            return;
        }
        layer.confirm('确认提交你的评论？', {btn: ['确认', '取消'], title: "回复"}, function () {
            $.ajax({
                url:'commentChild/add',
                method:'post',
                data:{
                    cid:cid,
                    toId:uid,
                    fromId: userid,
                    content : reply
                },
                success:function (data){
                    if (data.success){
                        layer.msg("评论保存成功，请刷新页面")
                    } else{
                        layer.msg("保存失败")
                    }
                }
        });

        })
    }
</script>
<style>
    .bottom {
        padding: 0;
        height: 40px;
        width: 100%;
        position: fixed;
        bottom: 0;
    }
</style>
</html>
