<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../css/layui.css" media="all">
</head>
<body>
<div class="layui-container" style="margin-top: 10px">
    <div class="layui-row myBox">
        <div class="layui-card">
            <div class="layui-card-header">卡片面板</div>
            <div class="layui-card-body">
                卡片式面板面板通常用于非白色背景色的主体内<br>
                从而映衬出边框投影
            </div>
        </div>
    </div>
</div>
</body>
<script src="../../layui.js" charset="utf-8"></script>
<script>

</script>
<style>
    body{
        background: #9F9F9F;
    }
    .myBox{
        margin-top: 10px;
        box-shadow: #d6d6d6 0px 0px 5px;
    }
</style>
</html>
